<html>
<body>
Hello, {{login-name}}'s logged in!

<form action = "create-golfer" method = "post">
    <input type = "text" placeholder="Golfer Name" name = "golfer_name"/>
    <select name = "sponsor_name">
        <option value="">--</option>
        <option value="Titleist">Titleist</option>
        <option value="Nike">Nike</option>
        <option value="Taylormade">Taylormade</option>
        <option value="Ping">Ping</option>
        <option value="Cobra">Cobra</option>
        <option value="Adams">Adams</option>
        <option value="Other">Other</option>
    </select>
    <button type = "submit">Submit Golfer</button>
</form>

{{#golfers}}
{{id}}. {{golferName}} - {{sponsorName}} <a href="/edit-golfer?id={{id}}">Edit Golfer</a>
<a href="/delete-golfer?id={{id}}">Delete Golfer</a> <br>
{{/golfers}}

<form action="logout" method = "post">
    <button type="submit">Log Out</button>
</form>
